.image-masonry {
    display: block;
}
.Home-Content-Container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.benefits-image{
    float: right;
}

.mobile-section-spacing{
    margin-bottom: 24px;
}

.feature-text{
    padding-left: 80px;
}

@media (min-width: 900px) {
    .mobile-gallery{
        display: none;
    }
}
@media (max-width: 900px) {
    @media (max-width: 899px) {
        .image-masonry {
            display: none;
        }
    }
    .responsive-image-container {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feature-container, .benefits-container{
        height: fit-content;
    }
    .feature-image{
        margin-bottom: 20px;
        width: 100%;
        height: fit-content;
    }
    .benefits-image{
        float: none;
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .hero-container{
        padding: 120px 0 120px 0;
        height: fit-content;
    }
    .image-masonry {
        display: none;
    }
    .md-alignText{
        text-align: center;
        align-items: center;
    }
    .Home-Content-Container{
        align-items: center;
        text-align: center;
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
    }
    .MuiTypography-h1{
        font-size: 40px;
    }
    .MuiTypography-h2{
        font-size: 36px;
    }
    .MuiTypography-h4{
        font-size: 24px;
    }
    .MuiTypography-body1{
        font-size: 16px;
    }
    .mobile-text{
        padding:0;
        text-align: start;
        margin-bottom: 48px ;
        margin-top: 48px ;
    }
    .mobile-section-spacing{
        margin-top: 10px;
    }
    .cta-mobile-text{
        margin: 10px;
    }
}
